<a href="https://colab.research.google.com/github/tempiatine/PySpark-tasks/blob/main/Books_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
!pip install pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, year, max, sum, avg, month, count

# Создание SparkSession
spark = SparkSession.builder.appName("Read CSV Meteo").getOrCreate()

# Чтение CSV-файлов
books_df = spark.read.csv("/content/sample_data/books.csv", header=True, inferSchema=True)
authors_df = spark.read.csv("/content/sample_data/authors.csv", header=True, inferSchema=True)

# Регистрация DataFrame как временные таблицы
books_df.createOrReplaceTempView("books")
authors_df.createOrReplaceTempView("authors")

# Выполнение JOIN-запроса с использованием SQL по топ-5 авторам
books_authors_df = spark.sql("""
SELECT *
FROM books b
JOIN authors a
ON b.author_id = a.author_id
""")

# Выполнение SQL-запроса c топ-5 авторами по выручке
top_authors = books_authors_df.select("name", "price").groupBy('name').agg(sum('price').alias('total_revenue')).orderBy(sum('price').desc()).limit(5)

# Выполнение SQL-запроса с подсчетом количества книг в каждом жанре
genre_books = books_authors_df.select("genre", "book_id").groupBy('genre').agg(count('book_id')).orderBy(count('book_id').desc())

# Выполнение SQL-запроса с расчетом среней цены книги у автора
avg_price = books_authors_df.select('name', 'price').groupBy('name').agg(avg('price')).orderBy(avg('price').desc())

# Выполнение SQL-запроса с сортировкой по цене книг, выпущенных после 2000 года
price_xxi = books_authors_df.select('title', 'publish_date', 'price').filter(col('publish_date') >= '2000-01-01').orderBy(col('price').desc())

# Показ результатов
# books_authors_df.show()
top_authors.show()
genre_books.show()
avg_price.show()
price_xxi.show()

# Остановка SparkSession
spark.stop()

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
+-------+-------+---------+-----------+-----+------------+---------+---------+----------+---------+
|book_id|  title|author_id|      genre|price|publish_date|author_id|     name|birth_date|  country|
+-------+-------+---------+-----------+-----+------------+---------+---------+----------+---------+
|      1| Book_1|        2|    Mystery|73.57|  1980-12-31|        2| Author_2|1965-12-31|   Canada|
|      2| Book_2|        1|Non-Fiction| 41.1|  1982-12-31|        1| Author_1|1960-12-31|    India|
|      3| Book_3|       10|    Fiction|10.63|  1984-12-31|       10|Author_10|2005-12-31|    India|
|      4| Book_4|        9|Non-Fiction|46.31|  1986-12-31|        9| Author_9|2000-12-31|Australia|
|      5| Book_5|        7|    Science|31.13|  1988-12-31|        7| Author_7|1990-12-31|      USA|
|      6| Book_6|        4|Non-Fiction| 83.7|  1990-12-31|        4| Author_4|1975-12-31|       UK|
|      7| Book_7|        6|Non-Fiction|40.36|  1992-12-31|        6| Author_6|1985-12-31|      USA|
|      8| Book_8|        2|Non-Fiction|84.48|  1994-12-31|        2| Author_2|1965-12-31|   Canada|
|      9| Book_9|        7|    Fantasy|10.05|  1996-12-31|        7| Author_7|1990-12-31|      USA|
|     10|Book_10|        2|    Science| 37.7|  1998-12-31|        2| Author_2|1965-12-31|   Canada|
|     11|Book_11|       10|Non-Fiction| 31.7|  2000-12-31|       10|Author_10|2005-12-31|    India|
|     12|Book_12|        8|Non-Fiction|31.02|  2002-12-31|        8| Author_8|1995-12-31|Australia|
|     13|Book_13|        8|Non-Fiction|16.14|  2004-12-31|        8| Author_8|1995-12-31|Australia|
|     14|Book_14|        1|    Fiction|26.84|  2006-12-31|        1| Author_1|1960-12-31|    India|
|     15|Book_15|        8|    Fantasy| 60.0|  2008-12-31|        8| Author_8|1995-12-31|Australia|
|     16|Book_16|        2|    Fiction|36.22|  2010-12-31|        2| Author_2|1965-12-31|   Canada|
|     17|Book_17|        6|    Fantasy|47.57|  2012-12-31|        6| Author_6|1985-12-31|      USA|
|     18|Book_18|        1|Non-Fiction|43.92|  2014-12-31|        1| Author_1|1960-12-31|    India|
|     19|Book_19|        5|    Science|88.83|  2016-12-31|        5| Author_5|1980-12-31|      USA|
|     20|Book_20|        7|    Mystery|91.48|  2018-12-31|        7| Author_7|1990-12-31|      USA|
+-------+-------+---------+-----------+-----+------------+---------+---------+----------+---------+

+--------+-------------+
|    name|total_revenue|
+--------+-------------+
|Author_2|       231.97|
|Author_7|       132.66|
|Author_1|       111.86|
|Author_8|       107.16|
|Author_5|        88.83|
+--------+-------------+

+-----------+--------------+
|      genre|count(book_id)|
+-----------+--------------+
|Non-Fiction|             9|
|    Science|             3|
|    Fiction|             3|
|    Fantasy|             3|
|    Mystery|             2|
+-----------+--------------+

+---------+-----------------+
|     name|       avg(price)|
+---------+-----------------+
| Author_5|            88.83|
| Author_4|             83.7|
| Author_2|          57.9925|
| Author_9|            46.31|
| Author_7|            44.22|
| Author_6|           43.965|
| Author_1|37.28666666666667|
| Author_8|            35.72|
|Author_10|           21.165|
+---------+-----------------+

+-------+------------+-----+
|  title|publish_date|price|
+-------+------------+-----+
|Book_20|  2018-12-31|91.48|
|Book_19|  2016-12-31|88.83|
|Book_15|  2008-12-31| 60.0|
|Book_17|  2012-12-31|47.57|
|Book_18|  2014-12-31|43.92|
|Book_16|  2010-12-31|36.22|
|Book_11|  2000-12-31| 31.7|
|Book_12|  2002-12-31|31.02|
|Book_14|  2006-12-31|26.84|
|Book_13|  2004-12-31|16.14|
+-------+------------+-----+